/* TOGGLE */
.skills-toggle {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.skills-toggle button {
  padding: 12px 26px;
  border-radius: 999px;
  border: 2px solid #6366f1;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #6366f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-toggle button.active,
.skills-toggle button:hover {
  background: #6366f1;
  color: #fff;
}

/* CONTENT */
.skills-content {
  /* max-width: 900px;
  margin: auto; */
  padding: 110px 7%;
  background: #ffffff;
}

.skills-box {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.08);
}

/* TECH STACK */
.tech-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.tech-item {
  padding: 12px 22px;
  border-radius: 999px;
  background: #eef2ff;
  color: #4338ca;
  font-weight: 500;
}

/* CERTIFICATE */
.certificate-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.certificate-card {
  padding: 20px;
  border-radius: 16px;
  background: #f9fafb;
  border-left: 5px solid #6366f1;
}
