/* TOGGLE */
.skills-toggle {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 50px;
}

.skills-toggle button {
  padding: 12px 26px;
  border-radius: 999px;
  border: 2px solid #6366f1;
  background: transparent;
  font-size: 1rem;
  font-weight: 500;
  color: #6366f1;
  cursor: pointer;
  transition: all 0.3s ease;
}

.skills-toggle button.active,
.skills-toggle button:hover {
  background: #6366f1;
  color: #fff;
}

/* CONTENT */
.skills-content {
  /* max-width: 900px;
  margin: auto; */
  padding: 110px 7%;
  background: #ffffff;
}

/* .skills-box {
  background: #fff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.08);
} */

/* TECH STACK */
.tech-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.tech-card {
  display: flex;
  align-items: center;
  gap: 16px;

  padding: 18px 22px;
  background: #ffffff;
  border-radius: 20px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
  transition: all 0.25s ease;
}

.tech-icon {
  width: 46px;
  height: 46px;
  border-radius: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 24px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
}

.tech-info h4 {
  font-size: 0.95rem;
  font-weight: 600;
  margin: 0;
  color: #111;
}

.tech-info p {
  font-size: 0.8rem;
  color: #6b7280;
  margin: 4px 0 0;
}

/* CERTIFICATE */
.certificate-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 24px;
  margin-top: 32px;
}

.certificate-card {
  background: white;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.certificate-image {
  width: 100%;
  height: 160px;
  background: #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.certificate-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.certificate-content {
  padding: 16px 18px 18px;
}

.certificate-content h4 {
  font-size: 1rem;
  font-weight: 600;
  color: black;
  margin-bottom: 6px;
  line-height: 1.4;
}

.certificate-content p {
  font-size: 0.85rem;
  color: #cbd5f5;
  margin-bottom: 8px;
}

.certificate-content span {
  font-size: 0.75rem;
  color: #94a3b8;
}

@media (max-width: 900px) {
  .tech-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .tech-grid {
    grid-template-columns: 1fr;
  }
}
