body {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    sans-serif;
}

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
